/*  Retro Pallete http://www.colourlovers.com/palette/2059076/Bright_retro
    RED: #F75E50;
    Yellow: #EAC761;
    Sand: #E8DF9C;
    Green: 91C09E;
    Gray: 7D7769;
    Black: #383838;
    
*/

.REDBackground{
    background-color: #F75E50;
}

.BLACKBackground{
    background-color: #383838;
}

.SANDBackground{
    background-color: #E8DF9C;
}

.RoadBlock{
    float: left;
    width: 4em;
    height: 4em;
    border: 2px solid;
    border-color: #7D7769;
    margin: 0.1em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height:4em;
}

#ROAD{
    height: 4.5em;
    background-color:#E8DF9C;
    position : relative;
}

/* END OF COLORS */